services:
  elasticsearch:
    image: elasticsearch:8.11.3 # Use uma versão específica
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - ES_JAVA_OPTS=-Xms2g -Xmx2g # Aloca 2GB de memória
      - xpack.security.enabled=false # Desabilita segurança para o setup inicial
    ports:
      - "9200:9200"
    volumes:
      - esdata:/usr/share/elasticsearch/data
    networks:
      - siem-net

  kibana:
    image: kibana:8.11.3
    container_name: kibana
    ports:
      - "5601:5601"
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    depends_on:
      - elasticsearch
    networks:
      - siem-net

  logstash:
    image: logstash:8.11.3
    container_name: logstash
    ports:
      - "8080:8080" # Porta para receber logs da Vercel
    volumes:
      - ./logstash/pipeline:/usr/share/logstash/pipeline/
      - ./logstash/config/logstash.yml:/usr/share/logstash/config/logstash.yml
    depends_on:
      - elasticsearch
    networks:
      - siem-net

volumes:
  esdata:
    driver: local

networks:
  siem-net:
    driver: bridge
